{% extends 'base.html' %}

{% block title %}
    Flag Quiz
{% endblock title %}


{% block content %} 

<div class="bg-primary-subtle">
    <div class="d-flex justify-content-center">
        <img src="images/logo/logo_small.png" class="img-fluid" alt="logo">
    </div>

    <div class="text-center  text-secondary">   

        <h3>Please <strong class=" text-primary inline">log-in</strong> to play the Flag Quiz.</h3>
        <h4><strong class=" text-primary">Sign-in</strong> if you does not have account yet.</h4>
    </div>
</div>



{% endblock content %} 