{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock title %}


{% block content %}
<div class="container bg-primary-subtle">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Register</h1>

            {% if password_errors %}
            <div class="alert alert-danger">
                <h3>There is a problem with you password:</h3>
                    <ul>
                        {% for pass_err in password_errors %}
                        <li>{{pass_err}}</li>
                        {% endfor %}
                    </ul>

            {% endif %}

            {% if error %}
            <div class="alert alert-danger">
                <h3>{{error}}</h3>
            {% endif %}

            <form action="{% url 'register' %}" method="post">

                {{user_form | crispy}}

                {% csrf_token %}
                
                <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    
    